.w-e-toolbar {
    border: 1px solid #ccc;
    border-bottom: 0;
}

.w-e-text-container {
    border: 1px solid #ccc;
    min-height: 1500px;
    height: 1500px;
}

.list-div{
    width: 100%;
}

.list-container{
    height: 100%;
    width: 100%;
}